.infobox {
    border: 0.3px solid gray;
    margin: 1em;
    padding: 0.5em;
    width: 200px;
}
.font{
   font-family: Arial, Helvetica, sans-serif
}
.photobox {
    border: 0.3px solid gray;
    margin: 1em;
    padding: 0.5em;
    width: 200px;
    length: 200px;
}
.bodybox {
    border: 0.3px solid gray;
    margin: 1em;
    padding: 0.5em;
    width: 300px;
    length: 200px;
}
.nodot {
    list-style-type: none;
        
}